.new-expense {
  background-color: #8d99ae;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

/* .new-expense {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #058c42;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
} */

.add-expense-button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #058c42;
  background-color: #058c42;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.add-expense-button:hover {
  background-color: #43aa8b;
}

/* .new-expense button:hover,
.new-expense button:active {
  background-color: #84dcc6;
  border-color: #84dcc6;
} */

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.cancel-button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #d90429;
  background-color: #d90429;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.cancel-button:hover {
  background-color: #f93943;
}
